@{
    ViewData["Title"] = "Dino Game";
    Random _random = new Random(); 
    int num = _random.Next(Model.Count);
}
@model List<DinoMVC.Models.Dino>  
<br />
<br />
<br />
<div class="border p-3 form-group row">
    <div class="col-4 offset-4" id="container">
        <canvas id="game" width="320" height="480"></canvas>
    </div>
    <div class="col-4">
        <h1>Get answers right to get ammo and save the Dinosaurs</h1>
        <label id="DinoName"></label>
        <br />
        <br />
        <button id="Button1" class="btn btn-success">Herbivore</button>
        <button id="Button2" class="btn btn-info">Omnivore</button>
        <button id="Button3" class="btn btn-danger">Carnivore</button>
        <br />
        <br />
        <label id="isCorrect"></label>
    </div>
</div>

@section Scripts{
    <script src='~/js/dinoGameEngine.js'></script>
    <script src='~/js/dinoGame.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">var numb = @num;</script>
    <script src="~/js/dinoQuiz.js"></script>
}